<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.usinasantafe.pia">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".PIAContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PrincipalActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AuditorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConfiguracaoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListaCaracOrganActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListaOrganActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListaPontosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListaQuestaoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MsgPontoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OSActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuestaoAmostraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuestaoCabecActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SecaoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TalhaoActivity"
            android:screenOrientation="portrait" />

        <receiver android:name=".ReceberAlarme">
            <intent-filter>
                <action android:name="EXECUTAR_ALARME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity android:name=".EnvioDadosActivity"></activity>
    </application>

</manifest>